/*

### .config ###
!/.config/
/.config/brew/Brewfile
/.config/configstore/
/.config/fish/conf.d/secrets.fish
/.config/fish/fish_variables
/.config/gcloud/
/.config/op/
/.config/ssh/*
!/.config/ssh/config
!/.config/ssh/keys/*.pub
/.config/zsh/*.zwc

### .github ###
!/.github/

### .vscode ###
!/.vscode/settings.json
