/*
!/.bashrc
!/.config/
/.config/brew/Brewfile
/.config/configstore/
/.config/fish/conf.d/secrets.fish
/.config/fish/fish_variables
/.config/gcloud/
/.config/op/
/.config/zsh/*.zwc
!/.github/
!/.gitignore
!/.hushlogin
!/.pre-commit-config.yaml
!/.profile
!/.ssh/
/.ssh/*
!/.ssh/config
!/.vscode/
/.vscode/*
!/.vscode/settings.json
!/.zprofile
!/bootstrap
