repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [--autofix]
        exclude: settings.json # jsonc
      - id: trailing-whitespace

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
        args: [-e, "SC1090,SC1091"]
        exclude_types: [zsh] # https://github.com/koalaman/shellcheck/issues/809

  - repo: https://github.com/frnmst/md-toc
    rev: "8.1.9"
    hooks:
      - id: md-toc
        args: [--in-place, --skip-lines=1, github]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        args: [--ignore-words-list, iterm]

  - repo: local
    hooks:
      - id: fish_indent
        name: Format fish files
        entry: fish_indent -w
        language: system
        types: [fish]
      - id: shfmt
        name: Format shell files
        entry: shfmt -i 4 -w
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.6.0]
        types: [shell]
        exclude_types: [zsh] # https://github.com/mvdan/sh/issues/120

  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
