<!-- -*- mode: xml -*- -->
<!-- Set launchd environment variables for GUI apps

This defers to our default login shell to fetch and set XDG variables at startup. Note, if you only
need to modify $PATH, then the following will suffice: `sudo launchctl config user path $PATH`.

To use this:
  1. Load:    launchctl load ~/Library/LaunchAgents/startup.plist
  2. Unload:  launchctl unload ~/Library/LaunchAgents/startup.plist
  3. Debug:   launchctl start/stop startup

References:
  - Inspiration: https://github.com/ersiner/osx-env-sync
  - $PATH only: https://docs.brew.sh/FAQ#my-mac-apps-dont-find-usrlocalbin-utilities
-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>startup</string>

  <key>RunAtLoad</key>
  <true/>

  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/fish</string>
    <string>-lc</string>
    <string>
      set -n | string match -rg '^(GRADLE_USER_HOME|HOMEBREW_PREFIX|MAVEN_OPTS|PATH|XDG_.*)$' | while read -Ll var
        set -l cmd launchctl setenv "$var" "$$var"
        echo Running $cmd && $cmd
      end
    </string>
  </array>

  <key>StandardOutPath</key>
  <string>/tmp/launchd/startup.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/launchd/startup.log</string>
</dict>
</plist>
