# TODO: add to helix
[language-server]
deno = { command = "deno", args = ["lsp"], config.deno.enable = true }

[language-server.ciderlsp]
command = "/google/bin/releases/cider/ciderlsp/ciderlsp"
args = ["--tooltag=helix", "--noforward_sync_responses"]
config = { provideFormatter = true }

[[language]]
name = "python"
auto-format = true

[language.debugger]
name = "debugpy"
transport = "stdio"
command = "python3"
args = ["-m", "debugpy.adapter"]

[[language.debugger.templates]]
name = "source"
request = "launch"
completion = [{ name = "entrypoint", completion = "filename", default = "." }]
args = { mode = "debug", program = "{0}" }

[[language]]
name = "javascript"
language-servers = ["deno"]
auto-format = true

[[language]]
name = "typescript"
language-servers = ["ciderlsp", "deno"]
auto-format = true

# Cider LSP
# TODO: we have to manually re-define the default language servers here
# https://github.com/helix-editor/helix/issues/14769
[[language]]
name = "go"
language-servers = ["ciderlsp", "gopls", "golangci-lint-lsp"]

[[language]]
name = "protobuf"
language-servers = ["ciderlsp", "buf", "pbkit", "protols"]

[[language]]
name = "starlark"
language-servers = ["ciderlsp", "starpls"]

[[language]]
name = "textproto"
language-servers = ["ciderlsp"]
