name: Pre-commit autoupdate

on:
  schedule: [cron: "0 0 * * 0"] # weekly
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: pipx install prek
      - run: prek autoupdate
      - uses: peter-evans/create-pull-request@v8
        with:
          branch: pre-commit-autoupdate
          title: "pre-commit: autoupdate"
          body: ""
          commit-message: "pre-commit: autoupdate"
          labels: automerge
